<p id="notice"><%= notice %></p>

<h1>Cocktails</h1>

<%= link_to 'New Cocktail', new_cocktail_path %>
<div class="container">
<!-- style="border: dashed" -->
  <div class="row">
    <div class="col-xs-12 text-center">
      <div class="cards">

        <% @cocktails.each do |cocktail| %>
          <div class="card" style="background: linear-gradient( 200deg, rgba(10,10,30, 0.9), rgba(24,120,55, 0.9));  ; background-image: url(assets/place-holder-cocktail.png);">
            <h3><%= link_to cocktail.name, cocktail %></h3>
            <h4>Ingredients:</h4>
            <% if cocktail.ingredients.blank? %>
              <p>(no ingredients yet)</p>
            <% else %>
            <% cocktail.ingredients.each do |ingredient| %>
                <p><%= ingredient.name.capitalize %></p>
              <% end %>
            <% end %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
