<div class="container">
    <div class="row">
      <div class="col-xs-12">
      <div class="cards">
      <div class="container">

<h1>New Cocktail</h1>
<h4>Add a name and a photo.</h4>
<h6>All fields are mandatory.</h6>

<%= render 'form', cocktail: @cocktail %>


<%= link_to 'Back', cocktails_path %>
</div>
</div>
</div>
</div>
</div>

