// Your footer style
.footer {
  background-color: black;
  height: 30px;
  bottom: 0px;
  width: 100%;
  padding-left: 10px;
  z-index: 9999;
  margin-top: 10px;
  position: fixed;
  * {
    color: white;
    font-size: 0.7em;
    margin: 0;
  }
}

// #footer {
//   margin-top: 0;
//   position: fixed;
//   z-index: 9999;
// }
