.header {
  background-color: black;
  // height: 70px;
  margin-top: 0;
  position: fixed;
  top: 0px;
  width: 100%;
  padding-left: 15px;
  z-index: 9999;

  * {
    color: $gray-light;
    margin: 0;
  }

  h1 {
    font-family: 'Georgia', serif;
    font-size: 2.2em;
    // line-height: 100%;
    :hover{
      color: white;
      text-decoration: none;
    }
  }
}
